<%- cache(element) do -%>

  <%= element_view_for(element) do |el| -%>

    <% @mailup_subscription ||= MailupSubscriptionForm.new(
        newsletter_list: element.content_by_name(:newsletter_list).ingredient,
        element_id: element.id
    ) %>

    <%= form_for(@mailup_subscription, url: main_app.mailup_subscription_forms_path) do |f| %>

      <div><%= f.label :email %><%= f.text_field :email %></div>
      <div><%= f.label :first_name %><%= f.text_field :first_name %></div>
      <div><%= f.label :last_name %><%= f.text_field :last_name %></div>

      <%= f.hidden_field :newsletter_list %>
      <%= f.hidden_field :element_id %>

      <div>
        <%= f.submit :subscribe %>
      </div>

    <% end %>


  <%- end -%>
<%- end -%>
